---
import Icon from './Icon.astro'

interface Props {
    type: 'warning' | 'help',
}
---
<div class={Astro.props.type}><Icon type={Astro.props.type}/><p><slot></slot></p></div>
<style>
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;

        border-style: solid;
        border-width: .15rem;
        border-radius: .5rem;
        padding: .5rem;

        & :global(p) {
            margin: 0;
        }

        &.help {
            background-color: color-mix(in srgb, var(--background-500) 20%, transparent);
            color: var(--text-50);
            border-color: var(--background-300);
            & :global(svg) {
                color: var(--text-50);
            }
            & :global(em) {
                font-style: normal;
                color: var(--secondary-300);
            }
        }
        &.warning {
            background-color: color-mix(in srgb, var(--primary-500) 20%, transparent);
            color: var(--text-50);
            border-color: var(--primary-300);
            & :global(svg) {
                color: var(--accent-300);
            }
            & :global(em) {
                font-style: normal;
                color: var(--accent-300);
            }
        }
    }
</style>