---
interface Props {
    style?: 'black',
}
---
<div class={Astro.props.style}></div>
<style>
    div {
        background-color: var(--background-400);
        opacity: 50%;
        width: .3rem;
        height: .3rem;
        border-radius: 9999px;
    }
    div.black {
        background-color: var(--background-900);
    }
</style>