---
import '../styles/theme.css';
import { prefixURL } from '../URLPrefixer';
interface BaseProps {
    style?: 'accent' | 'subtitle' | 'subtitle black' | 'secondary',
}
interface HrefProps extends BaseProps {
    href: string,
    id?: string,
}
interface IdProps extends BaseProps {
    href?: string,
    id: string,
}
type Props = HrefProps | IdProps;
---
<a id={Astro.props.id} href={prefixURL(Astro.props.href ?? '')} class={Astro.props.style}><slot/></a>
<style lang="scss">
    a {
        color: var(--secondary-300);
        text-decoration: none;
        
        transition-property: color text-decoration;
        transition-duration: var(--transition-duration);
        
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;

        &:hover {
            color: var(--secondary-50);
            text-decoration: underline;
        }
    }
    a.accent {
        color: var(--accent-300);
        &:hover {
            color: var(--accent-50);
        }
    }
    a.subtitle {
        color: var(--accent-300);
        font-weight: 700;
        gap: .25rem;
        &:hover {
            color: var(--accent-50);
        }
        &.black {
            color: var(--accent-950);
        }
        :global(svg) {
            filter: drop-shadow(0px 0px 2rem var(--primary-700));
        }
    }
</style>
