---
import { Image as AstroImage } from "astro:assets";
interface Props {
    src: ImageMetadata,
    alt: string,
    style?: 'glow' | 'shadow',
}
---
<div><AstroImage src={Astro.props.src} alt={Astro.props.alt} class:list={[Astro.props.style]}/></div>
<style>
    div {
        max-width: min(65ch, 90vw);
    }
    div > img {
        border-radius: .25rem;
        width: 100%;
        height: auto;
    }
    img.glow {
        box-shadow: 0 0 7rem color-mix(in srgb, var(--primary-500) 25%, transparent);
    }
    img.shadow {
        box-shadow: 0 0 5rem color-mix(in srgb, var(--primary-800) 75%, transparent);
    }
</style>