---
import '../styles/theme.css';
import { prefixURL } from '../URLPrefixer';
interface BaseProps {
    style?: 'black',
}
interface HrefProps extends BaseProps {
    href: string,
    id?: string,
}
interface IdProps extends BaseProps {
    href?: string,
    id: string,
}
type Props = HrefProps | IdProps;
---
<a href={prefixURL(Astro.props.href ?? '')} class={Astro.props.style} id={Astro.props.id}><slot/></a><style lang="scss">
    a {
        color: var(--accent-300);
        text-decoration: underline;
        transition: color 0.15s;
        &:hover {
            color: var(--accent-50);
        }
        &.black {
            font-weight: 700;
            text-decoration: none;
            color: var(--accent-950);
            &:hover {
                text-decoration: underline;
            }
        }
    }
</style>
