---
import Column from './Column.astro'
import LoadingCircle from './LoadingCircle.astro';
import Paragraph from './Paragraph.astro'

interface Props {
    id: string,
    loading: string,
}
---
<div class="lazy" id={Astro.props.id}>
    <article id="content"><slot></slot></article>
    <Column id="spinner">
        <LoadingCircle/>
        <Paragraph>{Astro.props.loading}</Paragraph>
    </Column>
</div>
<script>
    document.querySelectorAll('.lazy').forEach(lazy => {
        lazy.addEventListener('loading-finish', e => {
            const detail = (e as CustomEvent).detail as FinishEventDetail;
            for (const [query, transform] of Object.entries(detail)) {
                lazy.querySelectorAll(query).forEach(e => transform(e));
            }
            lazy.classList.add('finished');
        });
    });
</script>
<style>
    div.lazy:not(.finished) > article {
        display: none;
    }
    div.lazy.finished > :global(#spinner) {
        display: none;
    }
</style>
