---
import '../styles/theme.css';
interface Props {
    gap?: 'small' | 'normal' | 'large' | 'immense',
    wrap?: boolean,
}
---

<div><slot></slot></div>
<style define:vars={{ gap: `var(--gap-${Astro.props.gap ?? 'normal'})`, wrap: Astro.props.wrap ? 'wrap' : 'nowrap' }}>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: var(--wrap);
        align-items: center;
        gap: var(--gap);
    }
</style>
