---
import '../styles/theme.css';
interface Props {
    size?: 'BIG'
}
---
<h1 class={Astro.props.size}><slot></slot></h1>
<style>
    h1 {
        margin: 0;
        font-size: 4rem;
        font-family: var(--font-heading);
        font-weight: 600;
        color: var(--text-50);
        text-shadow: 0px 0px 2rem color-mix(in srgb, var(--primary-500) 15%, transparent);

        &.BIG {
            font-size: var(--font-size-title);
            text-shadow: 0px 0px 2rem var(--primary-800);
        }
    }
</style>
